In [75]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import pandas as pd
import numpy as np

In [76]:
df = pd.read_csv('./Data/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [77]:
df['class'] = df['class'].astype('category')
df['class_code'] = Y_data = df['class'].cat.codes

X_data = df.drop(columns=['class','class_code'] , axis=1)
Y_data = Y_data * 5
Y_data

0       0
1       0
2       0
3       0
4       0
       ..
145    10
146    10
147    10
148    10
149    10
Length: 150, dtype: int8

In [78]:
lm= LinearRegression()
d = []
for _ in range(20):
    x_train, x_test ,y_train, y_test = train_test_split(X_data,Y_data,test_size=0.2)

    lm.fit(x_train,y_train)
    coeffs = lm.coef_
    new_coeffs = np.append(coeffs, lm.intercept_)
    d.append(new_coeffs)

In [79]:
df3 = pd.DataFrame(d)
df3

           0         1         2         3         4
0  -0.071846 -0.742916  0.657965  3.607336  0.897821
1  -0.277155 -0.344396  0.817080  3.461962  0.365031
2  -0.471356 -0.406610  0.906881  3.408791  1.448685
3  -0.047165 -0.593353  0.833562  3.175951  0.088290
4  -0.329961 -0.591008  0.637345  3.849991  1.644593
5  -0.396563 -0.454075  0.812551  3.571645  1.387778
6  -0.384092 -0.378188  0.873115  3.483923  0.934064
7  -0.698178 -0.074562  1.248578  2.968191  1.008960
8  -0.450433 -0.113127  0.920835  3.486367  0.286234
9  -0.561632 -0.137650  1.169011  3.085444  0.672940
10 -0.488681 -0.228298  1.120153  3.008547  0.762345
11 -0.440528 -0.070459  1.213731  2.773811 -0.085895
12 -0.254301 -0.432736  0.787683  3.542468  0.592538
13 -0.777089 -0.046347  1.323606  2.966946  1.241588
14 -0.620487 -0.248619  1.165975  3.008618  1.419112
15 -0.611992 -0.214254  1.211965  2.917732  1.200361
16 -0.376314 -0.355859  0.951655  3.348901  0.706242
17 -0.736703 -0.090677  1.310577  2.921803  1.265468
18 -0.594510 -0.161872  0.997498  3.387094  1.151811
19 -0.446821 -0.328273  1.167589  2.877938  0.720494

In [80]:
men = df3.mean()
men

0   -0.451790
1   -0.300664
2    1.006368
3    3.242673
4    0.885423
dtype: float64

In [81]:
lm.score(x_test,y_test)

0.9384509249530794

In [82]:
df_setosa_0 = df[df['class_code'] == 2]
pred = df_setosa_0.sepal_length * men[0] + df_setosa_0.sepal_width * men[1] + df_setosa_0.petal_length * men[2] +df_setosa_0.petal_width * men[3] + men[4]

df_setosa_0
pred.mean()

9.171863106310918